*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav{
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}
#routes a{
  padding: 0px 32px;
}
#appState{
  display: flex;
}
#appState button{
  padding: 0px 16px;
}

.home{
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home img{
  width: 400px;
  height: 300px;
  margin: 16px;
}

.instagramPost{
  border: 1px solid black;
  width: fit-content;
  margin-top: 18px;
  
}

.postHeader{
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  padding: 8px;
}

.postContent{
  width: 400px;
  height: 500px;
}
.postContent img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: none; */
}
.notification{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 600;
  color: blueviolet;
}

.navBtn{
  padding: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -250px;
}
.navBtn button{
  border: 1px solid black;
  border-radius: 50%;
  background-color: lightgray;
  width: 20px;
  height: 20px;
  text-align: center;
}

.interactionBar{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
}
.interactionBar button{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

#heart{
  font-weight: bolder;
}

.about{
  text-align: center;
  width: 600px;
  margin-top: 24px;
}

.about h1,
.about p,
.about ul {
  margin-bottom: 16px;
}
.about p,
.about ul {
  text-align: left;
  font-size: 20px;
}
.about ul li{
  padding: 8px;
}